.orderImage{
    height: 100px;
    width: 100px;
    border-radius: 20px;
}
hr {
    border: 1px solid silver;
}
.heading {
    margin-top: 10px;
    color: navy;
}
.order {
    margin-top: 2%;
    padding-top: 1%;
    border: 2px solid lightgray;
    border-radius: 30px;
    clear: both;
}
.order li {
    display: block;
}

.topping ul {
    float: left;
    margin-left: -30px;
}
.topping ul li{
    float: left;
}

/* .topping ul li {
    float: left;
    padding-right: 2px;
    display: block;
}
.topping{
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
}
.topping p{
    float: left;
} */