<div class="container">
    <div *ngIf="isLoading && !error" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!checkouts.length" class="row mt-3">
        <div class="col">
            <div class="alert alert-success" role="alert">
                <h2>No Checkouts Available</h2>
                <p>Please create a new order</p>
                <a routerLink="/menu"><button class="btn btn-success pull-right">Create Order</button></a>
            </div> 
        </div>
    </div>
    <div class="alert alert-danger" *ngIf="error">
        <h2>An Error Occured</h2>
        <p>{{error}}</p>
    </div>
    <div class="row" *ngIf="checkouts.length">
        <div class="col">
            <div class= "row mt-3">
                <div class="col-sm-9">
                    <h3>Food Order List</h3>
                </div>
                <div class="col-sm-3">
                    <button *ngIf="checkouts.length" class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#removeAllModal">
                        Remove All 🗑️
                    </button>
                </div>
            </div>
            <div *ngIf="checkouts.length">
                <ul>
                    <li class="checkout" *ngFor="let checkout of checkouts; let i = index;" [@orderInAnimation]>
                        <div class="row">
                            <div class="col-sm-4 pt-2">
                                <h5 class="pl-2 pt-2">Checkout: {{i + 1}}</h5>
                            </div>
                            <div class="col-sm-4 pt-3">
                                <p>{{checkout.date | date:'medium'}}</p>
                            </div>
                            <div class="col-sm-4 pt-2">
                                <button type="button" class="btn btn-danger btn-sm mr-2 float-right" (click)="removeSelectedOrder(checkout.id)" data-toggle="modal" data-target="#removeModal">
                                    Remove 🗑️
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <ul>
                                <li class="order" *ngFor="let order of checkout.orders; let i = index;">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <p><b>Item:</b> {{order.item}}</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p><b>Name:</b> {{order.itemName}}</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p><b>Type:</b> {{order.itemType}}</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p><b>Price:</b> {{order.totalPrice | currency}}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <div class="row total justify-content-end">
                            <div class="col-sm-3">
                                <p><b>SubTotal:</b> {{checkout.subtotal | currency}}</p>
                            </div>
                            <div class="col-sm-2">
                                <p><b>Tax:</b> {{checkout.tax | currency}}</p>
                            </div>
                            <div class="col-sm-3">
                                 <p><b>Total:</b> {{checkout.total | currency}}</p>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-success btn-sm" data-toggle="collapse" data-target="#demo">
                                    More
                                </button>
                           </div>
                        </div>
                        <div id="demo" class="collapse">
                            <div class="card card-body">
                                <ul>
                                    <li class="collapseCheckout" *ngFor="let order of checkout.orders; let i = index;">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <p><b>Name:</b> {{order.itemName}}</p>
                                            </div>
                                            <div class="col-sm-4 topping">
                                                <p><b>Veg Toppings:</b></p>
                                                <ul>
                                                    <li *ngFor="let vegTpng of order.vegToppings">
                                                        {{vegTpng ? vegTpng : '-'}}{{i===vegTpng.length ? '': ','}}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4 topping">
                                                <p><b>Non-Veg Toppings:</b></p>
                                                <ul>
                                                    <li *ngFor="let nonVegToppings of order.nonVegToppings">
                                                        {{nonVegToppings}}{{i===nonVegToppings.length ? '': ','}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <hr class="hrCollapse">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Remove All Record Modal -->
<div class="modal fade" id="removeAllModal" tabindex="-1" role="dialog" aria-labelledby="removeAllModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="removeAllModalLabel">Remove Orders</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Are you sure to delete All the record?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="removeAllOrders()" data-dismiss="modal" class="btn btn-danger">Remove All Order</button>
        </div>
      </div>
    </div>
</div>

<!-- Remove Record Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="removeAllModalLabel">Remove Order</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Are you sure to delete the record?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="removeOrder()" data-dismiss="modal" class="btn btn-danger">Remove Order</button>
        </div>
      </div>
    </div>
</div>

