.form-control.ng-touched.ng-invalid{
    border:2px solid red;
}
.heading {
    color: navy;
}
.menuList {
    padding: 0;
    display: block;
    margin: 2%;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, #ffafbd, #ffc3a0);
    height: 130px;
    border: none;
}
.menuList:hover{
    background-image: linear-gradient(to bottom right, #ff414e, #ff8928);
    cursor: pointer;
    color: white;
}
.menuList:hover h5{
    color: white;
}
.menuImage{
    width: 100%;
    height: 130px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.menuTitle {
    text-align: justify;
    color: black;
    padding-top: 45px;
}
hr {
    border: 1px solid silver;
}