.pizzaOrder {
    margin: 0;
    padding: 0;
}
.pizzaOrder li {
    display: block;
    background-image: linear-gradient(to bottom right, #ffafbd, #ffc3a0);;
    color: black;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.list-header {
    clear: both;
}
.list-header p{
    float: left;
}
.list-header ul li {
    float: left;
    margin-top: 1px;
    margin-left: 10px;
    background-color: transparent;
}
hr {
    margin-top: -4px;
    border: 1px solid DarkGray;
}