.pizzaOrder li {
    display: block;
    background-image: linear-gradient(to bottom right, coral, lightcoral);;
    color: black;
    border: none;
    border-radius: 10px;
    margin-top: 2%;
}

.list-header p{
    float: left;
}
.horizontal-list {
	/* min-width: 696px; */
	list-style-type: none;
}
.horizontal-list li{
    display: inline;
}

hr {
    border: 1px solid silver;
}