<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="container">

    <div class="form-group location">
      <label for="location">Shoap Location: </label>
      <select class="form-control" formControlName="shopLocation" >
        <option value="">Select Location</option>
        <option *ngFor="let item of shoapLocation" [value]="item.name">{{item.name}}</option>
      </select>
    </div>
    <hr>

    <div class="pizzaInfo" *ngIf="form.controls.shopLocation.value">
      <ul>
        <li *ngFor="let item of selectLocation()" (click)="listSelected(item)">  
          <h3>{{item.name}}</h3>
          <img [src]="item.Url">
          <p>{{item.city}}</p>
          <p>Price: <b>{{item.price | currency}}</b></p>
        </li>
      </ul>
      <div class="clear"></div>
    </div> 

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="addVegToppings()">
            Add Veg Ingredient
          </button>
        </div>
        <div formArrayName="vegToppings" *ngFor="let vegTopping of form.get('vegToppings').controls; let i = index;">
          <hr *ngIf="i>0">
          <div class="row">
            <div class="form-group col-sm-8">
              <label for="{{i}}">Add Ingredient: </label>
              <select class="form-control" [formControlName]="i">
                <option value="">Add Veg Topping</option>
                <option *ngFor="let item of loadVegTopping()" [value]="item.name">{{item.name}}</option>
              </select>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-danger removebtn" (click)="removeVegTopping(i)">Remove</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="addNonVegToppings()">
            Add Non-Veg Ingredient
          </button>
        </div>
        <div formArrayName="nonVegToppings" *ngFor="let nonVegTopping of form.get('nonVegToppings').controls; let i = index;">
          <hr *ngIf="i>0">
          <div class="row">
            <div class="form-group col-sm-8">
              <label for="{{i}}">Add Ingredient: </label>
              <select class="form-control" [formControlName]="i">
                <option value="">Add Non-Veg Topping</option>
                <option *ngFor="let item of loadNonVegTopping()" [value]="item.name">{{item.name}}</option>
              </select>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-danger removebtn" (click)="removeNonVegTopping(i)">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="form-group checkbox-group" *ngIf="selectedList">
      <div formArrayName="toppings" class="form-check" *ngFor="let topping of filteredItems; let i =index">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" [formControlName]="i" [value]="topping.name"
          [(ngModel)]="topping.selected" (change)="selectedLists(topping)" name="topping">
          {{topping.name}} {{topping.price | currency}}
        </label>
      </div>
    </div> -->
     
    <!-- <button (click)="showForm = !showForm"  (click)="printData()" type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button> -->
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
  </div>
</form>
<br><br>

<!-- <div class="container" *ngIf="showForm">
  <h2>Here is Selected Pizza Detail.</h2>
    <p>Selected Location is {{selectedCity}}.</p>
    <p> Selected PizzaType is {{selectedList}}.</p>
    <p>Selected PizzaOption is {{selectedOption}}.</p>
    <p>Selected Pizza Toppings are 
    <span *ngFor="let topping of filteredItems">
      <span *ngIf="topping.selected">{{topping.name}}, </span>
    </span>.</p>
    <p>Selected Topping Price {{TotalPizzaPrice}}.</p>
  </div><br/> -->

