.location{
    width: 50%;
}
.clear{
    clear: both;
}

.form-control.ng-touched.ng-invalid{
    border:2px solid red;
}

.pizzaInfo img{
    width: 100%;
    height: 225px;
    
}
.pizzaInfo ul li{
    text-align: center;
    display:block; 
    float: left;
    cursor: pointer;
}
hr {
    border: 1px solid silver;
}
.removebtn{
    margin-top: 10px;
}
.selectedPizza {
    margin-top: 4%;
    text-align: center;
    padding-bottom: 4%;
}

.selectedPizza h3 {
    padding-bottom: 5px;
    border-bottom: 3px solid coral;
}

