.location{
    width: 50%;
}
.clear{
    clear: both;
}
.pizzaInfo img{
    width: 100%;
    height: 250px;
    
}
.pizzaInfo ul li{
    width: 30%;
    display:block; 
    float: left;
    cursor: pointer;
    margin: 2% 5%;
}
hr {
    border: 1px solid silver;
}
.removebtn{
    margin-top: 10px;
}