<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="container" [@orderInAnimation]>

    <div class="form-group location">
      <label for="location">Shoap Location: </label>
      <select class="form-control" formControlName="shopLocation">
        <option value="">Select Location</option>
        <option *ngFor="let item of shoapLocation" [value]="item.name">{{item.name}}</option>
      </select>
      <div class="form-text text-muted" *ngIf="!form.get('shopLocation').valid && form.get('shopLocation').touched">Please Select a valid Location</div>
    </div>
    <!-- <button type="button" class="btn btn-success" (click)="onCreateTopping()">Create Toppings</button> -->
    <!-- <button type="button" class="btn btn-success" (click)="onCreatePizzaTypes()">Create Pizza Types</button> -->
    <hr>

    <div class="pizzaInfo row" *ngIf="form.controls.shopLocation.value" [@orderInAnimation]>
      <div class="col-sm-9">
        <ul class="row">
          <li class="col-sm-6" *ngFor="let item of selectLocation()" (click)="listSelected(item)">  
            <h3>{{item.name}}</h3>
            <img [src]="item.Url">
            <p>{{item.city}}</p>
            <p>Price: <b>{{item.price | currency}}</b></p>
            <hr *ngIf="form.controls.shopLocation.value">
          </li>
        </ul>
      </div>
      <div class="col-sm-3 selectedPizza" *ngIf="form.controls.pizzaTypeId.value">
        <h3>Pizza Detail</h3>
        <p>Pizza Type:  {{form.value.pizzaType}}</p>
        <p>Pizza Name: {{form.value.pizzaName}}</p>
        <p>Price: {{form.value.price | currency}}</p>
      </div> 
      <hr *ngIf="form.controls.shopLocation.value">
  </div> 

    <div class="row" *ngIf="form.controls.shopLocation.value">
      <div class="col-sm-6">
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="addVegToppings()" [disabled]="form.get('vegToppings').invalid">
            Add Veg Ingredient
          </button>
        </div>
        <div formArrayName="vegToppings" *ngFor="let vegTopping of form.get('vegToppings').controls; let i = index;" [@orderInAnimation]>
          <hr *ngIf="i>0">
          <div class="row">
            <div class="form-group col-sm-8">
              <label for="{{i}}">Add Ingredient: </label>
              <select class="form-control" [formControlName]="i">
                <option value="">Add Veg Topping</option>
                <option *ngFor="let item of loadVegTopping()" [ngValue]="item.name">{{item.name}}</option>
              </select>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-danger removebtn" (click)="removeVegTopping(i)">Remove</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="addNonVegToppings()" [disabled]="form.get('nonVegToppings').invalid">
            Add Non-Veg Ingredient
          </button>
        </div>
        <div formArrayName="nonVegToppings" *ngFor="let nonVegTopping of form.get('nonVegToppings').controls; let i = index;" [@orderInAnimation]>
          <hr *ngIf="i>0">
          <div class="row">
            <div class="form-group col-sm-8">
              <label for="{{i}}">Add Ingredient: </label>
              <select class="form-control" [formControlName]="i">
                <option value="">Add Non-Veg Topping</option>
                <option *ngFor="let item of loadNonVegTopping()" [value]="item.name">{{item.name}}</option>
              </select>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-danger removebtn" (click)="removeNonVegTopping(i)">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr *ngIf="form.controls.shopLocation.value">
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{!id ? 'Submit' : 'Update Order'}}</button>
    <button class="btn btn-secondary ml-3" (click)="navigateOrder()" *ngIf="id">Cancel</button>
  </div>
</form>
<br><br>

