<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="container" [@orderInAnimation]>
    <div class="itemList row" *ngIf="itemOption.length" [@orderInAnimation]>
      <div class="col-sm-9">
          <ul class="row">
              <li class="col-sm-6" *ngFor="let itemObj of selectItem()"
                [class.selected]="itemObj === selecteditemList" (click)="listSelected(itemObj)">  
                  <h3>{{itemObj.itemInfo.name}}</h3>
                  <img [src]="itemObj.itemInfo.url" />
                  <p>{{form.controls.shopLocation.value}}</p>
                  <p>Price: <b>{{itemObj.itemInfo.price | currency}}</b></p>
                  <hr *ngIf="form.controls.shopLocation.value">
              </li>
          </ul>
      </div>
      <div class="col-sm-3 itemListInfo" *ngIf="form.controls.itemName.value">
          <h3>Pizza Detail</h3>
          <p>Pizza Type:  {{form.value.itemType}}</p>
          <p>Pizza Name: {{form.value.itemName}}</p>
          <p>Price: {{form.value.totalPrice | currency}}</p>
      </div> 
      <hr *ngIf="form.controls.shopLocation.value">
    </div> 

    <div class="row" *ngIf="form.controls.shopLocation.value">
      <div class="col-sm-6">
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="addVegToppings()" [disabled]="form.get('vegToppings').invalid">
            Add Veg Ingredient
          </button>
        </div>
        <div formArrayName="vegToppings" *ngFor="let vegTopping of form.get('vegToppings').controls; let i = index;" [@orderInAnimation]>
          <hr *ngIf="i>0">
          <div class="row">
            <div class="form-group col-sm-8">
              <label for="{{i}}">Add Ingredient: </label>
              <select class="form-control" [formControlName]="i">
                <option value="">Add Veg Topping</option>
                <option *ngFor="let item of loadVegTopping()" [ngValue]="item.name">{{item.name}}</option>
              </select>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-danger removebtn" (click)="removeVegTopping(i)">Remove</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="addNonVegToppings()" [disabled]="form.get('nonVegToppings').invalid">
            Add Non-Veg Ingredient
          </button>
        </div>
        <div formArrayName="nonVegToppings" *ngFor="let nonVegTopping of form.get('nonVegToppings').controls; let i = index;" [@orderInAnimation]>
          <hr *ngIf="i>0">
          <div class="row">
            <div class="form-group col-sm-8">
              <label for="{{i}}">Add Ingredient: </label>
              <select class="form-control" [formControlName]="i">
                <option value="">Add Non-Veg Topping</option>
                <option *ngFor="let item of loadNonVegTopping()" [value]="item.name">{{item.name}}</option>
              </select>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-danger removebtn" (click)="removeNonVegTopping(i)">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <hr *ngIf="form.controls.shopLocation.value">
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{!id ? 'Submit' : 'Update Order'}}</button>
    <button class="btn btn-secondary ml-3" (click)="navigateOrder()" *ngIf="id">Cancel</button>
  </div>
</form>
<br><br>

