.form-control.ng-touched.ng-invalid{
    border:2px solid red;
}
.itemList img{
    width: 75%;
    height: 200px;
    border-radius: 15px;
}
.itemList ul li{
    text-align: center;
    display:block; 
    float: left;
    cursor: pointer;
}
.itemList ul li.selected {
    background-image: linear-gradient(to bottom right, #ff414e, #ff8928);
    color: white;
}
hr {
    border: 1px solid silver;
}
.itemListInfo {
    margin-top: 4%;
    text-align: center;
    padding-bottom: 4%;
}

.itemListInfo h3 {
    padding-bottom: 5px;
    border-bottom: 3px solid coral;
}